{# CDN Resources - https://cdnjs.com/ #}


{# ==================== CSS Libraries ==================== #}

{# FontAwesome - Icon font library for UI icons #}
<link 
    rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" 
    integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" 
    crossorigin="anonymous" 
    referrerpolicy="no-referrer"
/>

{# jQuery UI - UI styling for dialogs and widgets #}
{#<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">#}

{# Select2 - Enhanced select dropdown styling #}
{#<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css">#}


{# ==================== JavaScript Libraries ==================== #}

{# jQuery - Core DOM manipulation library #}
<script
    src="https://code.jquery.com/jquery-4.0.0.slim.min.js"
    integrity="sha256-8DGpv13HIm+5iDNWw1XqxgFB4mj+yOKFNb+tHBZOowc="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
></script>

{# jQuery UI - Modal dialogs and UI interactions #}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>#}

{# Select2 - Enhanced select dropdowns with search #}
{#<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>#}

{# iMask - Input masking library #}
{#<script defer src="https://unpkg.com/imask"></script>#}

{# SweetAlert2 - Beautiful alert/confirmation dialogs #}
{#<script defer src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>#}

{# TinyMCE - Rich text editor #}
{#<script defer src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/6.3.2/tinymce.min.js"></script>#}
