*.db
*.dump
*.sql
*.tar*
.env*
local/
virginia-latest*

# Generated
*.log
*.pyc
.*cache/
.coverage/
.venv/
__pycache__/
artifact/
htmlcov/
logs/
venv/
build/

# IDE
.DS_Store/
.claude/
.idea/
.vscode/
.zed/
Thumbs.db