{% extends "partials/base.html" %}

{% block body %}
<div class="reset-page">
  <form onsubmit="event.preventDefault(); authResetPassword('{{ token }}');">

    <div class="reset-title">Reset your password</div>

    <div class="reset-field">
      <input id="password" type="password" placeholder="New password" />
    </div>

    <div class="reset-field">
      <input id="confirm_password" type="password" placeholder="Confirm password" />
    </div>

    <button type="submit">Reset Password</button>

    <div id="reset-error"></div>
  </form>
</div>
{% endblock %}

