{% macro a_tag(href, label, class="", new_tab=False) -%}
    {% set target = ' target="_blank"' if new_tab else '' %}
    <a class="{{class}}" href="{{href}}"{{target}}>{{label}}</a>
{%- endmacro %}

{% macro is_none(value) -%}
    {{ 1 if value is none else 0}}
{%- endmacro %}

{% macro setup_select(field) -%}
    setupSelect("#{{field.id}}", {{ is_none(field.data) }});
{%- endmacro %}

{% macro display_form_errors(form) -%}
    {% if form.errors %}
        <ul class="">
            {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                {% for error in field_errors %}
                    <li class="required">{{ form[field_name].label }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}
{%- endmacro %}

{% macro display_field_errors(errors) -%}
    {% for error in errors %}
        <span style="color:red;" class="required">{{ error }}</span>
    {% endfor %}
{%- endmacro %}

{% macro field_label(field)%}
    {% if field.flags.required  or field.flags.requiredif or field.flags.optionalif or field.flags.appear_required%}
        <label for="{{field.id}}">
            {{ field.label.text }}
            <span class="highlight">*</span>
        </label>
    {% else %}
        {{ field.label }}
    {% endif %}
{% endmacro%}

{% macro field_errors(field)%}
    {% for error in field.errors %}
        <span class="error"> {{error}} </span><br/>
    {% endfor %}
{% endmacro%}

{% macro field_input(field)%}

    {%if field.errors%}
        {% if field.type in ("SelectField") %}
        {{ field(extra_classes="error") }}
        {% elif field.type in ("SelectMultipleField") %}
        {{ field(extra_classes="error", **{"data-has-errors": "true"}) }}
        {% else %}
        {{ field(class="error") }}
        {% endif %}
    {% else %}
        {{ field() }}
        {# field(class="form-control") #}
    {% endif %}
{% endmacro%}

{% macro form_field(field, inline=False, show_errors=True, units="") %}
    {# if line_breaks and field.type in ("StringField", "IntegerField") %} <br/> {% endif #}

    {% if inline %}
        {{ field_label(field) }}
        {% if show_errors %} {{ field_errors(field) }} {% endif %}
        {{ field_input(field) }}

    {% elif field.type in ("BooleanField",) %}
        <div class="checkbox-container">
          {{ field_input(field) }}
          {{ field_label(field) }}
          {% if show_errors %} {{ field_errors(field) }} {% endif %}
        </div>

    {% elif field.type in ("RadioField",) %}
        {% if show_errors %} {{ field_errors(field) }} {% endif %}
        <div class="radio-container">
            {{ field_label(field) }}
            {{ field_input(field) }}
        </div>
    
    {% elif field.type in ("HiddenField",) %}
        {{ field_input(field, **{"type": "hidden", "style": "display: none;"}) }}

    {% else %}
        <div class="field-container">
            {{ field_label(field) }}
            {% if show_errors %} {{ field_errors(field) }} {% endif %}
            {{ field_input(field) }}
            {{ units }}
        </div>

    {% endif %}
{% endmacro %}

{% macro form_submit(submit_text="Save", back_text="Cancel") %}
    <div class="form-submit">
        <button class="button save" id="submit" type="submit" value="Submit">{{ cancel_text }}</button>

        {% if back_url is not none %}
            <a href="{{ back_url }}" class="button cancel">{{ back_text }}</a>
        {% endif %}

    </div>
{% endmacro %}
