/* Basic dropdown styles */
.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: $bg-color;
	min-width: 10rem;
	box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: $font-color;
	padding: 0.75rem 1rem;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: $secondary-color;
}

.show {
	display: block;
}
