/* Table container */
.tableContainer {
	max-width: 100%;
	overflow: auto;
}

/* Basic table styles */
table {
	width: 100%;
	border-collapse: collapse;

	th {
		background-color: $primary-color;
		color: black;
		text-align: left;
		padding: 0.625rem;
	}

	td {
		padding: 0.625rem;
		vertical-align: middle;
	}

	tr:nth-child(even) {
		background-color: darken(white, 20%);
	}
}

/* DataTables plugin styles */
.dataTables_wrapper {
	.dataTables_filter#ffafbb,
	.dataTables_info,
	.dataTables_length,
	.dataTables_paginate,
	.dataTables_processing {
		color: $font-color;
	}

	.dataTables_paginate {
		.paginate_button {
			color: black !important;
			background-color: $secondary-color;

			&:hover {
				background: $primary-color;
			}

			&.disabled,
			&.disabled:active,
			&.disabled:hover {
				cursor: default;
				color: $font-color !important;
				border: 1px solid transparent;
				background: transparent;
				box-shadow: none;
			}
		}
	}
}

table.dataTable {
	border-bottom: 1px solid $primary-color;
	border-right: 1px solid $primary-color;

	th,
	td {
		border-top: 1px solid $primary-color;
		border-left: 1px solid $primary-color;
	}

	thead th {
		color: black;
		background-color: $primary-color;
	}

	tbody {
		tr.odd > .sorting_1,
		tr.even > .sorting_1 {
			background-color: $bg-color;
		}

		tr:hover td {
			background-color: $primary-color;
			color: $font-color;
		}
	}
}
