{% extends 'partials/base.html' %}

{% block body %}

<div id="map"></div>

{% include 'partials/auth.html' %}
{% include 'partials/route.html' %}
{% include 'partials/preferences.html' %}
{% include 'partials/stops.html' %}

{% endblock body %}


{% block script %}
<script>

$(() => initApp());

</script>
{% endblock script %}


{% block style %}
<style>

/* Full-screen map - the SPA's primary element */
html, body { height: 100%; overflow: hidden; }
main { height: 100vh; overflow: hidden; }
footer { display: none; }

#map {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}

</style>
{% endblock style %}
